@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Users> signInManager;


<ul class="navbar -na ms-auto">
    @if(signInManager.IsSignedIn(User))
    {
        <li class=" nav-item">
            <a class=" nav-link text-black dark " asp-controller="Account" asp-action="Logout">Logout</a>
            <img src="/images/Logout-2--Streamline-Ultimate.png" alt="logout png" class="navbar-link-logout-png">
        </li>
    }
    else
    {
        <li class=" nav-item">
            <a class=" nav-link text-black dark " asp-controller="Account" asp-action="Login">Login</a>
            <img src="/images/Login-3--Streamline-Ultimate.png" alt="login png" class="navbar-link-login-png">
        </li>
        <li class=" nav-item">
            <a class=" nav-link text-black dark " asp-controller="Account" asp-action="Register">Register</a>
            <img src="/images/registration-1-48.png" alt="register png" class="navbar-link-register-png">
        </li>
    }
    </ul>
