@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1 class="display-4">Welcome</h1>

    <div class="fancy-button-wrapper">
        <div class="fancy-button-inner-container">
            <button class="fancy-button-main">Start to play ! </button>
            <span class="fancy-button-shiny-effect"></span>
        </div>
    </div>
</div>
